nav {
  display: block;
}
html {
	background-color: cornflowerblue;
}

#h1_basic_html_3 {
	color: white;
	text-align: center;
	
}


#p_basic_html_3 {
	color: white;
	text-align: center;
	
}
/*Comments go here*/